@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
}
:root{
    --shadow: #42b6f5;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 15px;
}

.navbar .logo a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
}

.navbar .links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 35px;

}

.navbar .links a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  padding: 10px 0;
  transition: 0.2s ease;
}

.navbar .links a:hover {
  color: #47b2e4;
}

.navbar .buttons a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 15px 0;
  transition: 0.2s ease;
}

.navbar .buttons a:not(:last-child) {
  margin-right: 30px;
}

.navbar .buttons .signin:hover {
  color: #47b2e4;
}

.navbar .buttons .signup {
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 0.375rem;
  text-align: center;
  transition: 0.2s ease;
}

.navbar .buttons .signup:hover {
  background-color: #47b2e4;
  color: #fff;
}



/* Hamburger menu styles */
#menu-toggle {
  display: none;
}

#hamburger-btn {
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
  /* order: 2; */

}

@media screen and (max-width: 1023px) {
  .navbar .logo a {
    font-size: 1.8rem;
  }


  .links {
    position:absolute;
    left: -100%;
    top: 75px;
    width: 100%;
    height: 30vh;
    padding-top: 50px;
    background: #05315b;
    flex-direction: column;
    transition: 0.3s ease;
    z-index: 2;
  }

  .navbar #menu-toggle:checked ~ .links {
    left: 0;
  }

  .navbar #hamburger-btn {
    display: block;
  }

  .header .buttons {
    display: none;
  }

  .hero-section .hero {
    max-width: 100%;
    text-align: center;
  }

  .hero-section img {
    display: none;
  }
}
/* navbar css end */

.home{
    width: 100%;
    height: 100vh;
    background-image: url(nebula.jpg);
    background-position: center;
    background-size:cover;
}
.main-heading{
    position: relative;
    top: 20vh;
    text-align: center;
    
}
.main-heading h1{
    color: #ffffff;
    font-size: 2rem;
    letter-spacing: 10px;
}
.main-heading span{
    animation: glowing 2s infinite;
    text-shadow: 0 0 10px var(--shadow), 0 0 20px var(--shadow), 0 0 30px var(--shadow);

}
@keyframes glowing {
    0% {
      text-shadow: 0 0 10px var(--shadow), 0 0 20px var(--shadow), 0 0 30px var(--shadow);
    }
    50% {
      text-shadow: none;
    }
    100% {
      text-shadow: 0 0 10px var(--shadow), 0 0 20px var(--shadow), 0 0 30px var(--shadow);
    }
  }

.welcome{
    text-align: center;
    font-size: 4rem;
    color: rgb(3, 117, 238);
    /* color: rgb(92, 166, 244); */
    font-weight: 600;
    margin: 10px 0;
    text-shadow: 2px 2px 18px rgb(88, 105, 161);    
}
#main-para2{
    color: rgb(164, 160, 160);
       letter-spacing: 4px;
       text-align: center;
       font-size: 1.5rem;
}
#main-para1{
    text-align: center;
}
/* section 1 end  */

.explore{
  margin: 30px 0;
  padding: 40px 0;
  text-align: center;
  letter-spacing: 4px;
}
.explore-container{
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
.explore-container h2{
  margin: 2rem 2rem;
}
.explore-boxex{
  height: 70vh;
  width: 30vw;
  background-color: rgb(205, 205, 247);
  margin: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* overflow: hidden; */
  background-image: url(mix\ galaxy.jpg);
  background-position: center;
  background-size: cover;
}
.explore-boxex img{
  height: 70%;
 width: 100%; 
}
.explore-boxex a{
  font-size: 1rem;
  color: white;
}
i{
  display: inline;
}
#heading1{
 text-align: center;
 margin: 12px;
 font-size: 2rem;
}
.image h2{
  color: white;
}

.explore-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d8c9c9cf;
  /* background-image: url(281739.jpg); */
  margin: 20px 0;
  background-size: cover;
  background-position: center;
  background-color: linear-gradient(to left,cyan,black);

}
.explore-section h2{
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px;
  font-size: 40px;
  padding: 20px 0;
}
.explore-container{
  width: 90%;
  height: 80%;
}
.explore-card{
  width: 20%;
  border-radius: 10px;
  background-color: #fff;
  gap: 10px;
  text-align: center;
  margin-bottom:20px ;

}
@media (max-width:550px){
  .explore-card{
      width: 90%;
  }
  .explore-section h2{
      font-size: 24px;
  }
  #main-para1{
    font-size:18px ;
    letter-spacing: 2px;
  }
  .welcome{
    font-size: 24px;
    letter-spacing: 3px;
  }
  #main-para2{
    font-size: 16px;
    letter-spacing: 5px;
}

}
@media (min-width:500px) and (max-width:1000px){
  .explore-card{
      width: 45%;
  }
}
@media (min-width:550px) and (max-width:1000px){
#main-para1{
  font-size: 24px;
  letter-spacing: 5px;
}
}
.welcome{
  font-size: 30px;
  letter-spacing: 5px;
}
#main-para2{
  font-size: 24px;
  letter-spacing: 5px;
}

.explore-card h3{
  text-align: center;
  background-color: #ffffffc9;
  border-radius: 10px;
}
.explore-card p{
  padding: 5px;
}

.image{
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;

}
.image:hover{
  box-shadow: 0px 5px 10px rgb(79, 79, 79);
  transform: scale(1.02);
  transition: 0.2s ease-in-out;
}
#image1{
  background-image: url(home-img.jpg);
}
#image2{
  background-image: url(atoms.jpg);
}
#image3{
  background-image: url(solar\ system.jpg);
}
#image4{
  background-image: url(andruyan.jpg);
}
/* section 2 end  */

/* footer css */
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
.container{
  max-width: 100%;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 80px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  /* color: #ffffff; */
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 5px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}
#footer-followus{
    margin-top: 30px;
}

/*responsive*/
@media(max-width: 600px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}