<style>
    @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Maven+Pro:wght@500&family=Poppins:wght@200;300;400;500&display=swap');

* {
  padding: 0%;
  margin: 0;
  font-family: 'Caveat', cursive;
  font-family: 'Maven Pro', sans-serif;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  /* position: relative; */
  
  background-color: #ffffff;
  /* background-color: #f3f6fb; */
}

.header {
  /* margin-top: 50px; */
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: rgb(41, 42, 43); */
  /* background:rgb(96, 145, 235); */
  /* background: linear-gradient(to right, rgba(128, 0, 128, 0.637), #e8f1ff); */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: 1200px;
   */
   width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
  box-shadow: 0 1px 4px rgb(230, 230, 230);

}

.navbar .logo a {
  /* font-size: 1.8rem;
  text-decoration: none;
  color: #fff; */
  display:flex;
  align-items: center;
  justify-content: center;
}

.navbar .links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 35px;

}

.navbar .links a {
  font-weight: 500;
  text-decoration: none;
  color: rgb(95, 0, 95);
  padding: 10px 0;
  transition: 0.2s ease;
}

.navbar .links a:hover {
  color: rgb(255, 255, 255);
}

.navbar .buttons a {
  text-decoration: none;
  color: rgb(95, 0, 95);
  font-size: 1rem;
  padding: 15px 0;
  transition: 0.2s ease;
}

.navbar .buttons a:not(:last-child) {
  margin-right: 30px;
}

.navbar .buttons .signin:hover {
  color: rgb(128, 16, 128);
  border: 1px solid rgba(95, 0, 95, 0.322);
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 0.375rem;
}

.navbar .buttons .signup {
  border: 1px solid rgba(95, 0, 95, 0.322);
  padding: 10px 20px;
  border-radius: 0.375rem;
  text-align: center;
  transition: 0.2s ease;
}

.navbar .buttons .signup:hover {
  background-color: rgb(95, 0, 95);
  color: #fff;
}



/* Hamburger menu styles */
#menu-toggle {
  display: none;
}

#hamburger-btn {
  font-size: 1.8rem;
  color: rgb(128, 16, 128);
  cursor: pointer;
  display: none;
  /* order: 2; */

}

@media screen and (max-width: 1023px) {
  .navbar .logo a {
    /* font-size: 1.5rem; */
    
  }

  .links {
    position: absolute;
    left: -100%;
    top: 46px;
    width: 75%;
    height: 100vh;
    padding-top: 50px;
    background: linear-gradient(to right, rgb(230, 206, 230), #e8f1ff);
    flex-direction: column;
    transition: 0.3s ease;
    z-index: 2;
  }

  .navbar #menu-toggle:checked~.links {
    left: 0;
  }

  .navbar #hamburger-btn {
    display: block;
  }

  .header .buttons {
    display: none;
  }

  .hero-section .hero {
    max-width: 100%;
    text-align: center;
  }

  .hero-section img {
    display: none;
  }
}

.section-sec-page {
  color: rgb(255, 255, 255);
  /* background-color: rgba(255, 0, 0, 0.571); */
  margin: 1vw 2vw 2vw 1vw;
  padding: 1vw 2vw 2vw 1vw;
  /* margin:40px 30px 30px 40px ;
    padding: 40px 20px 20px 20px; */
}

.section-text-content {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
}

.content {
  /* display: flex;
  flex-direction: column;
  align-items: left; */
  padding: 10px;
  margin-left: 10px;
  
  /* background: linear-gradient(to right, #8163b5, #ac98cf); */
  /* background:linear-gradient(to right,#888888,#5f5f5f); */

}

h1 {
  scroll-margin-top: ;
  font-size: 30px;
  color: #1e1e1e;
  padding: 20px;
  /* display: block; */
  /* justify-content: left; */
  text-align: left;
  /* color: blue; */
}

.content:nth-child(even) {
  /* background: linear-gradient(to right, #7e61b1, #b49acd); */
  /* background: linear-gradient(to right, #7e61b1, #b49acd); */
  border-bottom: 1px solid #613ba533;
}

p {
  letter-spacing: 0.6px;
  padding: 20px;
  /* color: rgb(235, 235, 235); */
  color: rgb(0, 0, 0);
}

.note {
  border-left: 5px solid rgb(18, 130, 235);
  color:  rgba(19, 29, 73, 0.948);
  font-weight: 550;
  padding: 0 15px;
  margin-left: 20px;
}

.h-p7 ul li {
  color: #000000;
  letter-spacing: 0.6px;
  padding: 5px 0 0 2px;
  margin-left: 40px;
  list-style: square;
}
container-toggle-btn {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 20px;
  height: 3px;
  background-color: #86408b;
  margin: 4px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -6px) rotate(45deg);
}
    </style>